// 主题变量覆盖
@primary-color: #2f54eb; // 品牌主色
@error-color: #f5222d; // 错误色
@warning-color: #faad14; // 警告色
@success-color: #52c41a; // 成功色
@font-size-base: 14px; // 主字号
@text-color: rgba(0, 0, 0, 0.85);
@border-color-base: #d9d9d9;
